/* side_tab.css */

.vbox {
    -fx-background-color: #eaf4ff;
}

.button {
    -fx-background-color: #206EB4;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 2, 0.5, 0, 2);
}

.button:hover {
    -fx-background-color: #5F9FDA;
}

.button:pressed {
    -fx-background-color: #174980;
}
