/* admin_password.css */

.root {
    -fx-background-color: linear-gradient(to bottom, #f5faff, #e0f0ff);
    -fx-font-family: 'Noto Sans KR', '맑은 고딕', sans-serif;
}

/* 라벨 */
.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #206EB4;
}

/* 비밀번호 입력창 */
.password-field {
    -fx-pref-height: 40px;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #206EB4;
    -fx-border-width: 1px;
}

/* 버튼 */
.button {
    -fx-background-color: #206EB4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #5F9FDA;
}

.button:pressed {
    -fx-background-color: #174980;
}
